<%- include public/header %>
<link href="/css/dialog.css" rel="stylesheet" />
<%- include public/head %>
<div id="wrap-container">
    <div class="crumbs"><a href="/">我的项目</a> &gt; <span>搜索结果</span></div>
    <div id="search-container">
        <ol class="search-list"></ol>
    </div>
    <button id="create">新建模块</button>
</div>
<%- include public/copyright %>
<script id="listItemTpl" type="text/html">
    <%%
    var item;
    for(var i=0, l=list.length;i<l;i++){
        item = list[i];
    %>
    <li>
        <h3 class="title"><a href="/module?pid=<%%=item.pid%>&mid=<%%=item._id%>"><%%= item.name %></a></h3>
        <%%
            if(item.tags && item.tags.length){
        %>
        <ul class="module-tags">
        <%%
                for(var j=0,jl=item.tags.length;j<jl;j++){
        %>
        <li><%%=item.tags[j]%></li>
        <%%
            }
        %>
            </ul>
        <%%}%>
        <div class="search-desc"><%%=tool.clear(item.demo)%></div>
        <div class="search-expando">展开</div>
    </li>
    <%% } %>
</script>
<script>
    require(['_search'], function (m) {
        m.init('<%= keys%>');
    });
</script>
<%- include public/footer %>